.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.MuiButton-root {
  width: 261px !important;
}

.css-1d5bjv2 {
  padding-bottom: 28px !important;
}